*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

div{
    text-align: center;
}

.main-header{
    text-align: center;
    color: #1fab50;
    font-weight: bold;
    font-size: 50px;
    border: 10px solid #fcba03;
    padding: 20px;
    background-color: #fcba036c;
    color: rgb(255, 255, 255);
}

img{
    height: auto;
    width: auto;
    margin: 20px;
}

.ingredients{
    font-weight: bold;
    color: #01822f;

}

h2{
     font-weight: bold;
     color: #01822f;
     font-size: 30px;
}

.method{
    font-weight: bold;
    color: #015e22;
}

li{
    font-style: italic;
    font-size: 20px;
}

.recipe-description{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #1fab50;
    color: white;
}

.header{
    text-align: center;
    margin: 50px;
}

#homepage-list{
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    border: 10px solid #01822f;
    padding-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #01822e3b;

}